<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/css/fonts/icomoon/style.css"/>

<link rel="stylesheet" href="/css/owl.carousel.min.css"/>
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css"/>

<!-- Style -->
<link rel="stylesheet" href="/css/espace-user.css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>IBank | Espace-Users</title>

</head>
<body>
    <!----------------------------------- Users Espace ------------------------------------------->
    <div class="container pt-4">
        <div class="profile">
            <div class="info-user d-flex">
                    <div class="logo">
                        <i class="far fa-circle-user fa-4x mr-lg-1"></i>
                    </div>
                    <div class="nomeUser">
                        <h6><%= session.user_nom %></h6>
                        <h6><%= session.user_prenom %></h6>
                        <p><%= session.user_email %></p>
                    </div>
            </div>
            <div class="btn profile" style="background-color: var(--primaryColor)">
                <a class="nav-link" href="/profile" target="_blank">Profile</a>
            </div>
        </div>
      <div class="calender-payment row my-lg-5">
              <div class="col col-sm-12 col-md-6 col-lg-6 calendier shadow-lg">
                <div class="text-center font-weight-bolder">Debut: <span class="font-weight-bolder debut"><%= data.created_at.getDay() %> / <%= data.created_at.getMonth() %> / <%= data.created_at.getFullYear() %></span></div>
                <div class="container d-flex flex-wrap">
                    <% for(let i = 0; i<= Number(inf.periode); i++){ %>
                        <div class="date1 m-sm-1">
                            
                            <span><%= tableauJourOrdonnes[compteur].slice(0, 3) %></span>
                            <% if(compteur >= (tableauJourOrdonnes.length-1) || i == inf.periode){ compteur = 0}else{ compteur=compteur+1} %>
                            <span>lorm</span>
                            
                        </div>
                    <%} %>
                </div>
              </div>
              <div class="col col-sm-12 col-md-6 col-lg-6 payement">
                  <div class="money d-flex container">                            
                      <div class="w-25 h-100 orangeMoney text-center rounded rounded-2"><img class="w-100 h-100" src="./../IMAGES/MTN-removebg.png" alt=""></div>
                      <div class="w-25 h-100 mtnMoney text-center rounded rounded-2"><img class="w-100 h-100" src="./../IMAGES/ORANGE-removebg.png" alt=""></div>
                      <div class="w-25 h-100 waveMoney text-center rounded rounded-2"><img class="w-100 h-100" src="./../IMAGES/WAVE-removebg.png" alt=""></div>
                      <div class="w-25 h-100 carteMoney text-center rounded rounded-2"><img class="w-100 h-75" src="./../IMAGES/pay-removebg.png" alt=""></div>
                  </div>
                  <div class="carte-number ">                            
                      <form class="container shadow-lg m-2 p-4">
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example1">Entrez Votre Numero de Compte</label>
                            <input type="number" id="form1Example1" class="form-control" />
                          </div>
                        
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                          <label class="form-label" for="form1Example2">Password</label>
                            <input type="number" id="form1Example2" class="form-control" />
                          </div>
                      
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                        </form>
                  </div>
              </div>
        </div>
        
      <div class="quitter container row">

            <div class="col-md-6 col-lg-6 col sm-6">
                    <h2>Solde Cotisation:  <span><%= key.montant %> FCFA</span></h2>
            </div>  
            <% if(session.user_email) { %>
                <div class="col-md-6 col-lg-6 col sm-6 d-flex justify-content-end">
                    <a href="/deconnexion"><button class="btn btn-danger">Déconnexion</button></a> 
                </div
                
            <% } else { location.href='/'%>  <% } %>
           
      </div>

  
      <div class="demander container m-lg-5">
           
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Je veux mon argent maintenant
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center fs-1" id="exampleModalLabel">Etes vous sure de vouloir retirer votre argent maintenant ?</h4>
          <button type="button" class="btn-close btn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Oui</button>
          <button type="button" class="btn btn-primary">Non</button>
        </div>
      </div>
    </div>
  </div>

      </div>
</div>

<!------------------------------------- Users Espace ----------------------------------------->


<script src="./../JS/bootstrap.bundle.js"></script>
<script src="./../JS/jquery-3.3.1.min.js"></script>
<script src="./../JS/popper.min.js"></script>
<script src="./../JS/bootstrap.min.js"></script>
<script src="./../JS/jquery.sticky.js"></script>
<script src="./../JS/main.js"></script>
<script src="./../JS/script.js"></script>

</body>
</html>